{% extends 'Agent/agent-base.html' %}
{% block content %}
<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <!-- customers view -->
        <div class="col">
          <div class="card recent-sales overflow-auto">

            <div class="card-body">

              <table class="table table-border datatable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Route</th>
                    <th scope="col">Tin Reg. No.</th>
                    <th scope="col">Address</th>
                    <th scope="col">House No.</th>
                    <th scope="col">Phone number</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>1</th> 
                    <td >Chole K/Mihret Butchery</td>
                    <td>Wendwesen Zenebe</a></td>
                    <td>1A</td>
                    <td>0051228128</td>
                    <td>Bole</td>
                    <td>45/487</td>
                    <td>0917998877</td>
                  </tr>

                  <tr>
                    <th>2</th> 
                    <td >Meaza Cafe</td>
                    <td>Meaza Teshome</a></td>
                    <td>3B</td>
                    <td>0040443852</td>
                    <td>Amede</td>
                    <td>99/789</td>
                    <td>0917998877</td>
                  </tr>

                  <tr>
                    <th>3</th> 
                    <td >Anbese Grocery</td>
                    <td>Tuko Dadi</a></td>
                    <td>1A</td>
                    <td>0065902109</td>
                    <td>04</td>
                    <td>45/487</td>
                    <td>0917998877</td>
                  </tr>

                  <tr>
                    <th>4</th> 
                    <td >Mesfin Kurs Bet</td>
                    <td>Mesfin Beamlak</a></td>
                    <td>9A</td>
                    <td>0097902155</td>
                    <td>Peacock</td>
                    <td>45/487</td>
                    <td>0917998877</td>
                  </tr>

                  <tr>
                    <th>5</th> 
                    <td >Chole K/Mihret Butchery</td>
                    <td>Wendwosen Zenebe</a></td>
                    <td>1A</td>
                    <td>0051228128</td>
                    <td>Bole</td>
                    <td>45/487</td>
                    <td>0917998877</td>
                  </tr>

                  <tr>
                    <th>6</th> 
                    <td >Chole K/Mihret Butchery</td>
                    <td>wnedwesen Zenebe</a></td>
                    <td>1A</td>
                    <td>0051228128</td>
                    <td>Bole</td>
                    <td>45/487</td>
                    <td>0917998877</td>
                  </tr>

                  <tr>
                    <th>6</th> 
                    <td >Chole K/Mihret Butchery</td>
                    <td>Wendwesen Zenebe</a></td>
                    <td>1A</td>
                    <td>0051228128</td>
                    <td>Gendegara</td>
                    <td>12/789</td>
                    <td>Alemu Taye</td>
                  </tr>

                  <tr>
                    <th>7</th> 
                    <td >Chole K/Mihret Butchery</td>
                    <td>Wendwesen Zenebe</a></td>
                    <td>1A</td>
                    <td>0051228128</td>
                    <td>Amede</td>
                    <td>45/487</td>
                    <td>0917998877</td>
                  </tr>
                  <tr>
                    <th>8</th> 
                    <td >Chole K/Mihret Butchery</td>
                    <td>Wendewsen Zenebe</a></td>
                    <td>1A</td>
                    <td>0051228128</td>
                    <td>Bole</td>
                    <td>45/487</td>
                    <td>0917998877</td>
                  </tr>
               
                </tbody>
              </table>
            </div>
          </div>
        </div><!-- End Recent Sales -->
    
      </div>
    </div>
  </div>
</section>
{% endblock %}