{% extends 'Agent/agent-base.html' %}

{% load static %}
{% block content %}
<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <!-- customers view -->
        <div class="col">
          <div class="card recent-sales overflow-auto">

            <div class="card-body">

              <table class="table table-border datatable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Driver</th>
                    <th scope="col">Vehicle</th>
                    <th scope="col">Plate number</th>
                    <th scope="col">Vehicle role</th>
                    <th scope="col">Route</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Status</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>1</th> 
                    <td >Belete Asake</td>
                    <td>Lorry</a></td>
                    <td>A 10-654</td>
                    <td>Fetch</td>
                    <td>Awasa</td>
                    <td>0937990877</td>
                    <td>In garage</td>
                  </tr>

                  <tr>
                    <th>2</th> 
                    <td >Getsh Amare</td>
                    <td>Isuzu</a></td>
                    <td>B 78-001</td>
                    <td>Distibution</td>
                    <td>Route 4A</td>
                    <td>0910100245</td>
                    <td>on duty</td>
                  </tr>
                  <tr>
                      <th>3</th> 
                      <td >Belete Asake</td>
                      <td>Lorry</a></td>
                      <td>A 10-654</td>
                      <td>Fetch</td>
                      <td>Awasa</td>
                      <td>0937990877</td>
                      <td>In garage</td>
                    </tr>

                    <tr>
                      <th>4</th> 
                      <td >Getsh Amare</td>
                      <td>Isuzu</a></td>
                      <td>B 78-001</td>
                      <td>Distibution</td>
                      <td>Route 4A</td>
                      <td>0910100245</td>
                      <td>on duty</td>
                    </tr>
                    <tr>
                      <th>5</th> 
                      <td >Belete Asake</td>
                      <td>Lorry</a></td>
                      <td>A 10-654</td>
                      <td>Fetch</td>
                      <td>Awasa</td>
                      <td>0937990877</td>
                      <td>In garage</td>
                    </tr>

                    <tr>
                      <th>6</th> 
                      <td >Getsh Amare</td>
                      <td>Isuzu</a></td>
                      <td>B 78-001</td>
                      <td>Distibution</td>
                      <td>Route 4A</td>
                      <td>0910100245</td>
                      <td>on duty</td>
                    </tr>
                    <tr>
                      <th>7</th> 
                      <td >Belete Asake</td>
                      <td>Lorry</a></td>
                      <td>A 10-654</td>
                      <td>Fetch</td>
                      <td>Awasa</td>
                      <td>0937990877</td>
                      <td>In garage</td>
                    </tr>

                    <tr>
                      <th>8</th> 
                      <td >Getsh Amare</td>
                      <td>Isuzu</a></td>
                      <td>B 78-001</td>
                      <td>Distibution</td>
                      <td>Route 4A</td>
                      <td>0910100245</td>
                      <td>on duty</td>
                    </tr>

                    <tr>
                      <th>9</th> 
                      <td >Belete Asake</td>
                      <td>Lorry</a></td>
                      <td>A 10-654</td>
                      <td>Fetch</td>
                      <td>Awasa</td>
                      <td>0937990877</td>
                      <td>In garage</td>
                    </tr>

                    <tr>
                      <th>10</th> 
                      <td >Getsh Amare</td>
                      <td>Isuzu</a></td>
                      <td>B 78-001</td>
                      <td>Distibution</td>
                      <td>Route 4A</td>
                      <td>0910100245</td>
                      <td>on duty</td>
                    </tr>
                    <tr>
                      <th>11</th> 
                      <td >Belete Asake</td>
                      <td>Lorry</a></td>
                      <td>A 10-654</td>
                      <td>Fetch</td>
                      <td>Awasa</td>
                      <td>0937990877</td>
                      <td>In garage</td>
                    </tr>

                    <tr>
                      <th>12</th> 
                      <td >Getsh Amare</td>
                      <td>Isuzu</a></td>
                      <td>B 78-001</td>
                      <td>Distibution</td>
                      <td>Route 4A</td>
                      <td>0910100245</td>
                      <td>on duty</td>
                    </tr>
                    <tr>
                      <th>13</th> 
                      <td >Belete Asake</td>
                      <td>Lorry</a></td>
                      <td>A 10-654</td>
                      <td>Fetch</td>
                      <td>Awasa</td>
                      <td>0937990877</td>
                      <td>In garage</td>
                    </tr>

                    <tr>
                      <th>14</th> 
                      <td >Getsh Amare</td>
                      <td>Isuzu</a></td>
                      <td>B 78-001</td>
                      <td>Distibution</td>
                      <td>Route 4A</td>
                      <td>0910100245</td>
                      <td>on duty</td>
                    </tr>
               
                </tbody>
              </table>
            </div>
          </div>
        </div><!-- End Recent Sales -->
    
      </div>
    </div>
  </div>
</section>
{% endblock %}