{% extends 'Agent/agent-base.html' %}
{% block content %}
<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <!-- customers view -->
        <div class="col">
          <div class="card recent-sales overflow-auto">

            <div class="card-body">

              <table class="table table-border datatable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product</th>
                    <th scope="col">Date</th>
                    <th scope="col">Quantinty</th>
                    <th scope="col">Total paid</th>
                    <th scope="col">Brought from</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>1</th> 
                    <td >St. George</td>
                    <td>5/10/2022</a></td>
                    <td>9000</td>
                    <td>1,233,455</td>
                    <td>Addis ababa</td>
                  </tr>

                  <tr>
                      <th>1</th> 
                      <td >St. George</td>
                      <td>5/10/2022</a></td>
                      <td>9000</td>
                      <td>1,233,455</td>
                      <td>Addis ababa</td>
                    </tr>
                    <tr>
                      <th>1</th> 
                      <td >St. George</td>
                      <td>5/10/2022</a></td>
                      <td>9000</td>
                      <td>1,233,455</td>
                      <td>Addis ababa</td>
                    </tr>
                    <tr>
                      <th>1</th> 
                      <td >St. George</td>
                      <td>5/10/2022</a></td>
                      <td>9000</td>
                      <td>1,233,455</td>
                      <td>Addis ababa</td>
                    </tr>
                    <tr>
                      <th>1</th> 
                      <td >St. George</td>
                      <td>5/10/2022</a></td>
                      <td>9000</td>
                      <td>1,233,455</td>
                      <td>Addis ababa</td>
                    </tr>
                    <tr>
                      <th>1</th> 
                      <td >St. George</td>
                      <td>5/10/2022</a></td>
                      <td>9000</td>
                      <td>1,233,455</td>
                      <td>Addis ababa</td>
                    </tr>

              
               
                </tbody>
              </table>
            </div>
          </div>
        </div><!-- End Recent Sales -->
    
      </div>
    </div>
  </div>
</section>
{% endblock %}