{% extends 'Agent/agent-base.html' %}
{% load static %}
{% block content %}
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <!-- Recent Sales -->
            <div class="col">
              <div class="card recent-sales overflow-auto">

                <div class="card-body">
                  <h5 class="card-title">Recent <span>| customer orders </span></h5>

                  <table class="table table-border datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Product</th>
                        <th scope="col">Route</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total price</th>
                        <th scope="col">Date</th>
                        <th scope="col">Driver</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>1</th> 
                        <td class="text-primary">Chole K/Mihret Butchery</td>
                        <td>St. George</a></td>
                        <td>1A</td>
                        <td>8</td>
                        <td>2359 birr</td>
                        <td>23-1-2022</td>
                        <td>Alemu Taye</td>
                        <td><span class="badge bg-warning">Pending</span></td>
                      </tr>

                      <tr>
                        <th>2</th> 
                        <td class="text-primary">Meaza Cafe</td>
                        <td>Sen'q</a></td>
                        <td>3B</td>
                        <td>4</td>
                        <td>1864 birr</td>
                        <td>23-1-2022</td>
                        <td>Zewdu Girma</td>
                        <td><span class="badge bg-warning">pending</span></td>
                      </tr>

                      <tr>
                        <th>3</th> 
                        <td class="text-primary">Anbese Grocery</td>
                        <td>Doppel</a></td>
                        <td>1A</td>
                        <td>10</td>
                        <td>2324 birr</td>
                        <td>20-1-2022</td>
                        <td>Alemu Taye</td>
                        <td><span class="badge bg-danger">Not delivered</span></td>
                      </tr>

                      <tr>
                        <th>4</th> 
                        <td class="text-primary">Mesfin Kurs Bet</td>
                        <td>Castle</a></td>
                        <td>9A</td>
                        <td>7</td>
                        <td>1986 birr</td>
                        <td>23-1-2022</td>
                        <td>Gezaw Tata</td>
                        <td><span class="badge bg-warning">Pending</span></td>
                      </tr>

                      <tr>
                        <th>5</th> 
                        <td class="text-primary">Chole K/Mihret Butchery</td>
                        <td>St. George</a></td>
                        <td>1A</td>
                        <td>8</td>
                        <td>2359 birr</td>
                        <td>23-1-2022</td>
                        <td>Alemu Taye</td>
                        <td><span class="badge bg-success">delivered</span></td>
                      </tr>

                      <tr>
                        <th>6</th> 
                        <td class="text-primary">Chole K/Mihret Butchery</td>
                        <td>St. George</a></td>
                        <td>1A</td>
                        <td>8</td>
                        <td>2359 birr</td>
                        <td>23-1-2022</td>
                        <td>Alemu Taye</td>
                        <td><span class="badge bg-success">delivered</span></td>
                      </tr>

                      <tr>
                        <th>6</th> 
                        <td class="text-primary">Chole K/Mihret Butchery</td>
                        <td>St. George</a></td>
                        <td>1A</td>
                        <td>8</td>
                        <td>2359 birr</td>
                        <td>23-1-2022</td>
                        <td>Alemu Taye</td>
                        <td><span class="badge bg-warning">Pending</span></td>
                      </tr>

                      <tr>
                        <th>7</th> 
                        <td class="text-primary">Chole K/Mihret Butchery</td>
                        <td>St. George</a></td>
                        <td>1A</td>
                        <td>8</td>
                        <td>2359 birr</td>
                        <td>23-1-2022</td>
                        <td>Alemu Taye</td>
                        <td><span class="badge bg-success">delivered</span></td>
                      </tr>
                      <tr>
                        <th>8</th> 
                        <td class="text-primary">Chole K/Mihret Butchery</td>
                        <td>St. George</a></td>
                        <td>1A</td>
                        <td>8</td>
                        <td>2359 birr</td>
                        <td>23-1-2022</td>
                        <td>Alemu Taye</td>
                        <td><span class="badge bg-success">delivered</span></td>
                      </tr>
                      <tr>
                        <th>9</th> 
                        <td class="text-primary">Chole K/Mihret Butchery</td>
                        <td>St. George</a></td>
                        <td>1A</td>
                        <td>8</td>
                        <td>2359 birr</td>
                        <td>23-1-2022</td>
                        <td>Alemu Taye</td>
                        <td><span class="badge bg-success">delivered</span></td>
                      </tr>
                      <tr>
                        <th>10</th> 
                        <td class="text-primary">Chole K/Mihret Butchery</td>
                        <td>St. George</a></td>
                        <td>1A</td>
                        <td>8</td>
                        <td>2359 birr</td>
                        <td>23-1-2022</td>
                        <td>Alemu Taye</td>
                        <td><span class="badge bg-success">delivered</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div><!-- End Recent Sales -->
        
          </div>
        </div>
      </div>
    </section>
{% endblock %}
