  <!-- ====== Main -->
  {% extends 'Company/dashboard/admin.html'%}
  {% block admin%}
    
  
       
                <div class="card-body">
                    <h5 class="card-title">Store</h5>
                  <!-- Table with stripped rows -->
                  
                  <table class="table datatable">
                    <thead>
                     
                      <tr>
                       
                        <th scope="col">Store Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Location</th>
                        <th scope="col">View</th>
                      </tr>
                    </thead>
                    <tbody>
                   {% for store in all_store %}
                      <tr>
                      
                        <td>{{store.Store_Name}}</td>
                        <td>{{store.date_created}}</td>
                        <td>{{store.Address}}</td>
                        <td>  <a href="{% url 'store_detile' store.id %}" class="btn btn-info">View</a></td>
                      </tr>
                  {% endfor %}     
                       
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->
    
              </div>
  
  {% endblock %}
    