{% extends 'Customer/Customer-base.html'%}
{% load static %}
{% block content %}
    <div class="container mt-5 pt-5">
      <section class="section ">
          <div class="row">
            <div class="col-lg-8">
              <div class="card">
                <div class="card-body">
                  <!-- Order form with Validation -->
                  <form class="row g-3 needs-validation">
                    <h5 class="card-title text-center">Checkout form</h5>
                    <!-- here all the input filed comes from db table called Product -->
                  {% for product in products %}
                    <div class="col-md-3">
                      <input type="number" min="4" class="form-control" id="{{product.Product_Name}}" placeholder="{{product.Product_Name}}" required>
                      <div class="invalid-feedback">
                        Minimum of 4 crates
                      </div>
                    </div> 
                  {% endfor %}

                 
                    <div class="col-md-6">
                      <label for="phone" class="form-label">Phone</label>
      
                        <input type="tel" class="form-control" id="phonenum" required>
                        <div class="invalid-feedback">
                          Please provide an active phone number.
                        </div>
                    </div>
                    <!-- payment option should come from available payment option from db table payment option -->
                    <hr class="mb-4"> 
                    <div class="col-md-6">
                      <label for="payment option" class="form-label">Payment</label>
                      <select class="form-select" id="paymentchoosen" required>
                        <option selected disabled value="">Choose payment option</option>
                        <option>Commertial Bank of Ethiopia</option>
                        <option>Awash Bank</option>
                        <option >Dashen Bank</option>
                      </select>
                      <div class="invalid-feedback">
                        select payment option please
                      </div>
                    </div>
                    <hr class="mb-4">   
                    <button id="checkout" class="btn btn-warning btn-md btn-block text-white" type="button">Continue to check out</button>
                  
                  </form><!-- End  of order form -->
                  </div>
                </div>
              </div>
              <!-- order summary -->
              
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title text-center">Order summary</h5>
                    <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between lh-con  densed">
                        <div>
                          <h6 class="my-0">Product</h6>
                        </div>
                        <div>
                          <h6 class="my-0">Quantity</h6>
                        </div>
                        <div>
                          <h6 class="my-0">Price</h6>
                        </div>
                        
                      </li>
                     <form action="" method="post">
                      <li class="list-group-item d-flex justify-content-between lh-condensed">
                        {% for product in products %}
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                          <div>
                            <h6 class="my-0">{{product.Product_Name}}</h6>
                            
                          </div>
                          <span type="text" class="text-muted" name='george' id="show_{{product.Product_Name}}" value="">0</span>
                          <span class="text-muted" id="george_price"></span>
                        </li>
                       {% endfor %}
                       
                        <li class="list-group-item d-flex justify-content-between">
                          <span>Total price</span>
                          <span class="text-muted" id="show_total_quantity"></span>
                          <span class="text-muted" id="show_total_price"></span>
                        </li>
                      <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-muted">
                          <h6 class="my-0">Order date</h6>
                        </div>
                        <span class="text-success">
    
                          <div class="text-success">
                              <span id="orderdate"></span>
                        </div>
                        </span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                          <h6 class="my-0">Phone</h6>
                        </div>
                        <span class="text-muted" id="phonedisplay"></span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                          <h6 class="my-0">Payment</h6>
                        </div>
                        <span class="text-muted" id="payment"></span>
                      </li>
                    </ul>  
                  </div></form>
                  <button id="orderbtn" class="btn btn-warning btn-md btn-block text-white" type="submit">Order</button>
                </div>
              </div>
    
          </div>
        </section>
    </div>

    <script>
      const select_george = document.getElementById("quantity_george");
      const disp_george = document.getElementById("show_george");
      const select_doppel = document.getElementById("quantity_doppel");
      const disp_doppel = document.getElementById("show_doppel");
      const select_castle = document.getElementById("quantity_castle");
      const disp_castle = document.getElementById("show_castle");
      const select_senq = document.getElementById("quantity_senq");
      const disp_senq = document.getElementById("show_senq");
      const order_date = document.getElementById("orderdate");
      const today = new Date();
      const day = `${today.getDate() < 10 ? "0"
      : ""}${today.getDate() }`;
      const month = `${(today.getMonth() + 1) < 10 ? "0"
      : ""}${today.getMonth() + 1}`;
      const year = today.getFullYear();
      order_date.textContent =`${day}/${month}/${year}`;
      const input_phone = document.getElementById("phonenum");
      const disp_phone = document.getElementById("phonedisplay");
      const select_payment = document.getElementById("paymentchoosen");
      const display_payment = document.getElementById("payment");  
      const checkout = document.getElementById("checkout");
      
      function getInputValues(){
         disp_george.innerHTML = select_george.value;
         disp_doppel.innerHTML = select_doppel.value;
         disp_castle.innerHTML = select_castle.value;
          disp_senq.innerHTML = select_senq.value;
         disp_phone.innerHTML = input_phone.value;
         display_payment.innerHTML = select_payment.value;  
      }
      checkout.addEventListener('click', getInputValues);
   
     </script> 
{% endblock %}