{% extends 'Customer/base.html' %}
{% load static %}
{% block content %}
<main class="mt-5 pt-4"> 
  <section style="background-color: #eee;">
    <div class="text-center container py-5">
     
      <!-- advertisements -->
          <div class="row gy-2">
            <div class="col-lg-3 col-md-4">
              <div class="box bg-warning h-100 d-flex p-y flex-column text-white">
                <img src="{% static '/assets/img/sanjaw.jpeg' %}" alt="sanjaw">
                <h1>St. George</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                  </p>
                  <a href="#" class="btn mt-auto btn-dark">Read More  </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="box bg-warning h-100 d-flex p-y flex-column text-white">
                <img src="{% static '/assets/img/castlebeer.jpg' %}" alt="sanjaw">
                <h1>Castle</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                 </p>
                  <a href="#" class="btn mt-auto btn-dark">Read More  </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="box bg-warning h-100 d-flex p-y flex-column text-white">
                <img src="{% static '/assets/img/Doppel.jpeg' %}" alt="sanjaw">
                <h1>Doppel</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                  Ut enim ad minim veniam, 
                  </p>
                  <a href="#" class="btn mt-auto btn-dark">Read More  </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="box bg-warning h-100 d-flex p-y flex-column text-white">
                <img src="{% static '/assets/img/senq-malt.jpeg' %}" alt="sanjaw">
                <h1>sen'q</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <a href="#" class="btn mt-auto btn-dark">Read More  </a>
              </div>
            </div>   
          </div>
    </div>
  </section>
</main>
{% endblock %}