{% extends 'Customer/Customer-base.html'%}
{% load static %}
{% block content %}


  <!-- ====== Main -->
  <main  class="mt-5 pt-4">
    <div class="container">
      <section class="section dashboard">
          <div class="row">
            <!-- Left side columns -->
            <div class="col-lg-8">
              <div class="row">
    
                 <!-- Pending orders Card -->
                 <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">
                      <div class="card-body">
                        <h5 class="card-title">Pending</h5>
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-cart"></i>
                          </div>
                          <div class="ps-3">
                            <h6>{{total_pending}}</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><!-- End Pending Card -->
    
                <!-- successful orders Card -->
                <div class="col-xxl-4 col-md-6">
                  <div class="card info-card sales-card">
                    <div class="card-body">
                      <h5 class="card-title">Successful orders</h5>
                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-cart-check"></i>
                        </div>
                        <div class="ps-3">
                          <h6>{{total_received}}</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- End successful order  Card -->
    
                <!-- unsuccessful order Card -->
                <div class="col-xxl-4 col-xl-6">
                    <div class="card info-card customers-card">
                      <div class="card-body">
                        <h5 class="card-title">unsuccessful orders</h5>
      
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-cart-x"></i>
                          </div>
                          <div class="ps-3">
                            <h6>{{total_rejected}}</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><!-- End unsuccessful orders Card -->
    
                <!-- Total spent Card -->
                <div class="col-xxl-4 col-md-6">
                  <div class="card info-card revenue-card">
                    <div class="filter">
                      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                          <h6>Filter</h6>
                        </li>
                        <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li>
                      </ul>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Total spent <span>| This Month</span></h5>
                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-currency-dollar"></i>
                        </div>
                        <div class="ps-3">
                          <h6>{{total_payment}}ETB</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- End total spent Card -->
             {{customer_orders.count}}
                <div class="card info-card customers-card">
                  <h5 class="card-title">Recent purchases <span>| this week</span></h5>
                  <table class="table table-border datatable" id="recent">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                       
                        <th scope="col">Quantinty</th>
                        <th scope="col">Date</th>                    
                        <th scope="col">Total paid</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- all orders should have date of creation -->
                      {% for order in customer_orders %}
  
                      <tr>
                        <th>#</th> 
                        <td ></td>
                        <td>{{order.date_created}}</td>
                       
                        <td>{{order.total_payment}}</td>
                      </tr>
                      {% endfor %}
                    
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
    
           <!-- Advertisements-->
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body">
                  <h6><span class="badge bg-info">new</span></h6> 
    
                  <!-- Slides only carousel -->
                  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="{% static 'assets/img/Doppel-Brown-Beer.jpeg' %}" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="{% static 'assets/img/senq-malt.jpeg' %}" class="d-block w-100" alt="...">
                      </div>
                    </div>
                  </div><!-- End Slides only carousel-->
                  <p>Check out BGI's new products joining the market soon. we are glad to tell you that
                    ....
                  </p>  
                </div>
              </div>
            </div>
          </div><!-- End Recent Activity -->   
            </div><!-- End Right side columns -->
    
          </div>
        </section>
    </div>
</main><!-- End #main -->
{% endblock %}