{% extends 'Customer/base.html'%}
{% load static %}
{% block content %}
<main class="mt-5 pt-4">
  <!-- checkout form -->
  <div class="container wow fadeIn">  
    <h2 class="my-5 h2 text-center">Checkout form</h2>
    <div class="row">
      <div class="col-md-8 mb-4">
        <div class="card">
          <form class="card-body">
            <div class="row">
              <div class="col-md-6 mb-2">
                <label>Product type</label>
                  <select class="custom-select d-block w-100" id="productType" required>
                    <option value=""> St. George beer</option>
                    <option>Castle beer</option>
                    <option>Doppel beer</option>
                    <option>Sen'q malt</option>
                  </select>
              </div>
              <div class="col-md-6 mb-2">
                <div class="md-form">
                  <label>Amount</label>
                  <input type="number" id="amount" class="form-control" placeholder="Number of crates"
                  min="10" oninput="validity.valid||(value='');">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-2">
                <div class="md-form">
                  <input type="tel" id="phone1" class="form-control" placeholder="phone 1">
                  <label for="phone1" class=""></label>
                </div>
              </div>
              <div class="col-md-6 mb-2">
                <div class="md-form">
                  <input type="tel" id="phone2" class="form-control" placeholder="phone 2">
                  <label for="phone2" class=""></label>
                </div>
              </div>
            </div>
            <hr>
            <label>Choose payment option</label>
            <div class="col-md-6 mb-2">
              <div class="d-block my-3">
                <select class="custom-select d-block w-100" id="productType" required>
                  <option value="">CBE</option>
                  <option>CBE Birr</option>
                  <option>Cash on Delivery</option>
                </select>
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-warning btn-lg btn-block" type="submit">add to cart</button>
          </form>
        </div>
      </div>

      <!-- Cart -->
      <div class="col-md-4 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Order summary</span>
        </h4>
        <ul class="list-group mb-3 z-depth-1">
          <li class="list-group-item d-flex justify-content-between lh-con  densed">
            <div>
              <h6 class="my-0">Product type</h6>
              <small class="text-muted">eg st. george</small>
            </div>
            <span class="text-muted"></span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Amount in crates</h6>
              <small class="text-muted">40</small>
            </div>
            <span class="text-muted"></span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Price for 1 crate</h6>
            </div>
            <span class="text-muted">480 Birr</span>
          </li>
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Date</h6>
              <small> eg 20-2-2022</small>
            </div>
            <span class="text-success"></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total price</span>
            <strong>19200 Birr</strong>
          </li>
        </ul>
        
          <button class="btn btn-warning btn-lg btn-block" type="submit">Order</button>

      </div>
    </div>
  </div>
</main>
{% endblock %}