

{% extends 'Company/company-base.html'%}
{% block content%}
<!-- ====== Main -->
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Manage Staff</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="admin.html">Home</a></li>
          <li class="breadcrumb-item">Manage staff</li>
          <li class="breadcrumb-item active">Add staff</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

      <section class="section add-agent">
        <div class="row">
          <div class="row justify-content-center">
            <div class="col-lg-12 d-flex flex-column align-items-center justify-content-center">
              <div class="card mb-5">
                <div class="card-body">         
                    <h5 class="card-title text-center pb-0 fs-4 text-warning">Staff Registration form</h5>
                  <form class="row g-3 needs-validation" novalidate>
                    
                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <label for="stfullname" class="form-label">Full Name</label>
                        <input type="text" name="stFullname" class="form-control" id="stFullname" required>
                        <div class="invalid-feedback">Please, enter full name!</div>
                      </div>

                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <label for="stfullname" class="form-label">Store Manager</label>
                        <input type="text" name="stFullname" class="form-control" id="stFullname" required>
                        <div class="invalid-feedback">Please, enter full name!</div>
                      </div>

                     <div class="col-lg-12 col-md-12 col-sm-12">
                        <label for="starea" class="form-label">Area</label>
                        <input type="text" name="stArea" class="form-control" id="stArea" required>
                        <div class="invalid-feedback">Please enter area!</div>
                      </div>

                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <label for="starea" class="form-label">Area</label>
                        <input type="text" name="stArea" class="form-control" id="stArea" required>
                        <div class="invalid-feedback">Please enter area!</div>
                      </div>
                      
                      <div class="col-12">
                        <button class="btn btn-warning w-100" type="submit">Add</button>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

  </main><!-- End #main -->

  {% endblock %}