{% extends 'Company/company-base.html' %}
{% load static %}
{% block content%}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        
      </ol>
    </nav>
  </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">
            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title">Agent </h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{total_agent}}</h6>
                       </div>
                  </div>
                </div>
              </div>
            </div><!-- End Sales Card -->
             <!-- Sales Card -->
             <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title">Staff </h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{tottal_staff}}</h6>
                       </div>
                  </div>
                </div>
              </div>
            </div><!-- End Sales Card -->

             <!-- Sales Card -->
             <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title">Store </h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{tottal_store}}</h6>
                       </div>
                  </div>
                </div>
              </div>
            </div><!-- End Sales Card -->

             <!-- Sales Card -->
             <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title">Region </h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{tottal_region}}</h6>
                       </div>
                  </div>
                </div>
              </div>
            </div><!-- End Sales Card -->

             <!-- Sales Card -->
             <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title">Product </h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{tottal_product}}</h6>
                       </div>
                  </div>
                </div>
              </div>
            </div><!-- End Sales Card -->

             <!-- Sales Card -->
             <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title">Sales </h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>145</h6>
                       </div>
                  </div>
                </div>
              </div>
            </div><!-- End Sales Card -->

            
          
     <div class="col-12">
      <div class="card recent-sales overflow-auto">
        <div class="card-body">
          <h5 class="card-title">Agent</h5>

         
                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Agent</th>
                          <th scope="col">Region</th>
                          <th scope="col">City</th>
                          <th scope="col">Phone</th>    
                          <th scope="col">date_created</th>    
                        </tr>
                      </thead>
                      <tbody>
                        {% for agent in all_agent %}
                        <tr>
                          <th scope="row">1</th>
                          <td><a href="{%  url 'agent-detail' agent.id  %}" class="btn">{{agent.Full_Name}}</a></td>
                          <td>{{agent.Region}}</td>
                          <td>{{agent.city}}</td>
                          <td>{{agent.phone1}}</td>
                          <td>{{agent.date_created}}</td>
                          
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <!-- End Table with stripped rows -->
      

        </div>

      </div>
    </div><!-- End Recent Sales -->

       
         
          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

            <!-- Primary Color Bordered Table -->
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Product in Store</h5>
                <table class="table table-bordered border-primary">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Product</th>
                      <th scope="col">Amount</th>
                     
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Brandon Jacob</td>
                      <td>Designer</td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Brandon Jacob</td>
                      <td>Designer</td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Brandon Jacob</td>
                      <td>Designer</td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Brandon Jacob</td>
                      <td>Designer</td>
                    </tr>
                    
                  </tbody>
                </table>
                <!-- End Primary Color Bordered Table -->
  
              </div>
            </div>
              <!-- End Primary Color Bordered Table -->


          <!-- New Product advertisment -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Advertisment</h5>
          <section class="section add-agent">
            <div class="row">
              <div class="row justify-content-center">
                <div class="col-lg-12 d-flex flex-column align-items-center justify-content-center">
                      <form class="row g-3 needs-validation" method="POST">
                       {% csrf_token %}
                        <div class="col-md-12">
                          <textarea class="form-control" name="message" id="message" rows="6" placeholder="Description.......t" required></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="photo" class="form-label">Photo</label>
                            <input type="file" name="driverPhoto" class="form-control" id="driverPhoto" required>
                            <div class="invalid-feedback">Please upload photo!</div>
                          </div>
                        <hr class="mb-4">
                          <div class="col-12">
                            <button id="add_driver" class="btn btn-warning w-100 text-white" type="submit">Post</button>
                          </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
   </div><!-- End Right side columns -->
      </div>
    </section>
    {%for i in names %}
    {{i}}
    {% endfor %}
    

</main>

{% endblock %}