{% extends 'Company/company-base.html'%}
{% block content%}
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Manage Staff</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="admin.html">Home</a></li>
          <li class="breadcrumb-item">Manage staff</li>
          <li class="breadcrumb-item active">Add staff</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <form action="" method="POST">
{% csrf_token %}
{{from}}
        <br>
        <button type="submit" name="submit">login</button>
    </form>

  </main><!-- End #main -->
{% endblock %}