 <!-- Dark Table -->
    <table class="table table-dark">
      <thead>
        <tr>
         
         {% for i in all_product %}
          <th scope="col">{{i}}</th>
         {% endfor %}
        </tr>
      </thead>
      <tbody>
        {{amount}}
        <tr>
          <td>{{amount.Doppel}}</td>
          <td>{{amount.St_George}}</td>
          <td>{{amount.Castle}}</td>
          <td>{{amount.Sinq_Malt}}</td>
        </tr>
      </tbody>
    </table>
    <!-- End Dark Table -->
    
  </div>
</div>
